<!-- <div class="min-h-screen flex flex-row">
  <div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
    <div class="flex space-2 items-center border-b-2 pb-4">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-14 w-14 text-indigo-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </div>
      <div class="ml-3">
        <h1 class="text-3xl font-bold text-indigo-600">Sekolah</h1>
        <p class="text-center text-sm text-indigo-600 mt-1 font-serif">
          Admin Dashboard
        </p>
      </div>
    </div>
    <div class="mt-8">
        <ul class="flex flex-col py-4">
            <li>
              <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-home"></i></span>
                <span class="text-sm font-medium">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-music"></i></span>
                <span class="text-sm font-medium">Music</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-drink"></i></span>
                <span class="text-sm font-medium">Drink</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-shopping-bag"></i></span>
                <span class="text-sm font-medium">Shopping</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-chat"></i></span>
                <span class="text-sm font-medium">Chat</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-user"></i></span>
                <span class="text-sm font-medium">Profile</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-bell"></i></span>
                <span class="text-sm font-medium">Notifications</span>
                <span class="ml-auto mr-6 text-sm bg-red-100 rounded-full px-3 py-px text-red-500">5</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-log-out"></i></span>
                <span class="text-sm font-medium">Logout</span>
              </a>
            </li>
          </ul>
    </div>
  </div>
  <div class="bg-indigo-50 flex-grow py-12 px-10">
    <div class="flex justify-between">
      <div>
        <h4 class="text-sm font-bold text-indigo-600">Hi Kepsek,</h4>
        <h1 class="text-4xl font-bold text-indigo-900 mt-">
          Welcome to Admin Board    !
        </h1>
      </div>
      <div>
        <div
          class="
            flex
            items-center
            border
            rounded-lg
            bg-white
            w-max
            py-2
            px-4
            space-x-3
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 text-gray-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            />
          </svg>
          <input class="outline-none" type="text" placeholder="Search" />
        </div>
      </div>
    </div>
    <div>
      <div class="flex space-x-4">
        <div
          class="
            flex
            items-center
            justify-around
            p-6
            bg-white
            w-64
            rounded-xl
            space-x-2
            mt-10
            shadow-lg
          "
        >
          <div>
            <span class="text-sm font-semibold text-gray-400">Student </span>
            <h1 class="text-2xl font-bold">8000</h1>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 text-indigo-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 11l7-7 7 7M5 19l7-7 7 7"
              />
            </svg>
          </div>
        </div>
        <div
          class="
            flex
            items-center
            justify-around
            p-6
            bg-white
            w-64
            rounded-xl
            space-x-2
            mt-10
            shadow-lg
          "
        >
          <div>
            <span class="text-sm font-semibold text-gray-400">Teacher</span>
            <h1 class="text-2xl font-bold">8000</h1>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
              />
            </svg>
          </div>
        </div>
        <div
          class="
            flex
            items-center
            justify-around
            p-6
            bg-white
            w-64
            rounded-xl
            space-x-2
            mt-10
            shadow-lg
          "
        >
          <div>
            <span class="text-sm font-semibold text-gray-400">Parent</span>
            <h1 class="text-2xl font-bold">9000</h1>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 text-indigo-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"
              />
            </svg>
          </div>
        </div>
        <div class="flex mt-10 justify-center"></div>
        <div></div>
        <div></div>
      </div>
      <div>
      </div>
      <div>
          
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
