<div class="md:flex">
  <app-sidebar></app-sidebar>

  <!-- content -->
  <div class="flex-1 m-3 text-2xl font-bold">
    <div
      class="
        navbar
        mb-2
        shadow-lg
        bg-neutral  
        text-neutral-content
        rounded-box
        bg-gray-50
      "
    >
      <header
        class="
          border-b
          md:flex md:items-center md:justify-end
          p-2
          pb-0
          shadow-lg
          md:pb-4
        "
      >
        <form class="mb-4 w-full md:mb-0 md:w-full">
          <label class="hidden" for="search-form">Search</label>
          <input
            class="
              bg-grey-lightest
              border-2
              focus:border-orange
              p-2
              rounded-md
              shadow-inner
              w-full
            "
            placeholder="Find Something..."
            type="text"
          />
          <button class="hidden">Submit</button>
        </form>
      </header>
    </div>

    <div class="flex justify-start py-5">
      <h1>Admin Dashboard</h1>
    </div>

    <div class="flex justify-between px-5">
      <div class="bg-white rounded-lg shadow-lg border p-10 w-1/4">
        <h5 class="text-3xl font-bold mb-4 mt-0">Student</h5>
        <p class="text-gray-700 text-sm">{{totalStudent}} Students</p>
      </div>
      <div class="bg-white rounded-lg shadow-lg border p-10 w-1/4">
        <h5 class="text-3xl font-bold mb-4 mt-0">Teacher</h5>
        <p class="text-gray-700 text-sm">{{totalTeacher}} Students</p>
      </div>
      <div class="bg-white rounded-lg shadow-lg border p-10 w-1/4">
        <h5 class="text-3xl font-bold mb-4 mt-0">Parent</h5>
        <p class="text-gray-700 text-sm">{{totalParent}} Students</p>
      </div>
    </div>

    <div class="flex py-6">
      <div class="bg-white rounded shadow-md border p-6 w-6/12">
        <h1>test</h1>
      </div>
    </div>

  </div>
</div>